{% extends "crud/layout.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class='col-xl'>
			<hr>
				<h4>Hello, {{ user.username }}! <a class="lead" href="{% url 'logout' %}">(log out)</a></h4>
				<h5>User Administration</h5>
				<p>List of users:</p>
				{% if users %}
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">first name</th>
								<th scope="col">last name</th>
								<th scope="col">iban</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
					{% for usr in users %}
						<tr>
							<th scope="row">{{ usr.id }}</th>
							<td>{{ usr.first_name }}</td>
							<td>{{ usr.last_name }}</td>
							<td>{{ usr.iban }}</td>
							<td><a href="/user/{{usr.id}}"><i class="fas fa-user-edit"></i></a></td>
							<td><a style='color: red;' href="/user/{{usr.id}}/delete/"><i class="fas fa-trash"></i></a></td>
						</tr>
					{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no users!</p>
					<p>Add one</p>
				{% endif %}
				<p><a class="btn btn-success" href="{% url 'user-add' %}"><i class="fas fa-plus-square"></i> Add User</a></p>
			</div>
		</div>
  </div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock content %}
